!.env.example
.DS_Store
.env
.env.*
/.histoire
/.svelte-kit
/assets
/build
/dist
# styles directory is creatd by `npm run build` and should not be in the root
/styles
/node_modules
/package
/playwright-report
/playwright/.cache
/test-results
/tests/screenshots
vite.config.js.timestamp-*