!.env.example
.DS_Store
.env
.env.*
/.svelte-kit
/assets
/build
/dist
/node_modules
/package
/playwright-report
/playwright/.cache
/test-results
/tests/screenshots
vite.config.js.timestamp-*
vite.config.ts.timestamp-*