@use './node_modules/@surveyplanet/styles/_index.scss' as *;

.sp-survey--question--image--form {
	display: grid;
	grid-template-columns: repeat(2, 1fr); // 2 columns
	gap: XXXsize-gutter; // 1rem gap between cells

	&.sp-survey--question--image--small {
		grid-template-columns: repeat(4, 1fr); // 2 columns
		.sp-survey--question--image--item {
			picture {
				min-width: 150px;
				height: XXXsize-gutter--triple;
			}
		}
	}

	&.sp-survey--question--image--large {
		grid-template-columns: repeat(1, 1fr); // 1 columns
		.sp-survey--question--image--item {
			picture {
				height: XXXsize-gutter--quadruple; // * 2;
			}
		}
	}

	&.sp-survey--question--image--contain {
		.sp-survey--question--image--item {
			picture {
				// background-color: XXXcolor--black;
				background-size: contain;
			}
		}
	}
}

.sp-survey--question--image--item {
	position: relative;
	cursor: pointer;
	display: block;
	font-size: XXXfont-size--16;
	// background-color: red;
	input {
		appearance: none;
		&:checked {
			& ~ picture {
				border: 1px solid XXXcolor--darkest;
				// box-shadow: 0px 0px 15px hsla(218, 24%, 13%, 0.5); // .2 opacity
				box-shadow: XXXshadow--default;
			}

			& ~ .sp-survey--question--image--item--selected-icon {
				visibility: visible;
				opacity: 1;
				bottom: XXXsize-gutter--half;
			}
		}
	}

	picture {
		display: block;
		width: auto;
		margin: 0;
		padding: 0;
		height: XXXsize-gutter--quadruple;
		border-radius: XXXsize-radius--default;
		background-repeat: no-repeat;
		background-position: 50% 50%; // center image
		background-size: cover;
		transition: box-shadow XXXselect-animation-speed ease-out;
		border: 1px solid XXXcolor--beige-darker;
	}
}

.sp-survey--question--image--item--label {
	display: block;
	padding-bottom: XXXsize-gutter--quarter;
}

.sp-survey--question--image--item--selected-icon {
	display: block;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	bottom: 0;
	right: XXXsize-gutter--half;
	transition: bottom XXXselect-animation-speed ease-out,
		opacity XXXselect-animation-speed ease-out;
}
