@use '@surveyplanet/styles' as *;

$animation-speed: 300ms;

.sp-alert {
	position: relative;
	// position: absolute;
	z-index: 1000;
	min-width: $size--256;
	max-width: px-to-rem(375);
	margin: 0;
	padding: $size-gutter--eighth;
	border-radius: $size-radius--large;
	box-shadow: 0px 0px 25px 0px rgba(235, 231, 220, 0.8);
	font: $font--default;
	color: $color--beige-darkest;
	// overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;

	background-color: $color--white;

	&.sp-alert--info {
		.sp-alert--sidebar {
			background: $color--gradient--blue;
		}
	}

	&.sp-alert--warning {
		.sp-alert--sidebar {
			background: $color--gradient--yellow;
		}
	}

	&.sp-alert--error {
		.sp-alert--sidebar {
			background: $color--gradient--pink;
		}
	}

	&.sp-alert--success {
		.sp-alert--sidebar {
			background: $color--gradient--green;
		}
	}
}

.sp-alert--col-a {
	flex-basis: $size--64;
}
.sp-alert--col-b {
	flex-grow: 1;
	// background-color: red;
	padding: $size-gutter--half;
}

.sp-alert--sidebar {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $size-radius--default;
	img {
		max-width: $size--56;
	}
}

.sp-alert--header {
	position: relative;

	.sp-alert--header--subtitle,
	.sp-alert--header--title {
		color: $color--dark;
		margin: 0;
		padding: 0;
	}
}

.sp-alert--header--close-btn {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	width: $size--20;
	height: $size--20;
	line-height: $size--20;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	border-radius: $size-radius--small;
	&:hover {
		background-color: $color--beige-darker;
		:global(.sp-icon path) {
			stroke: $color--white;
		}
	}
}

.sp-alert--body {
	padding-top: $size-gutter--half;
	&:empty {
		display: none;
	}
}

.sp-alert--footer {
	padding-top: $size-gutter--half;
	menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: $size-gutter--half;
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.sp-alert--challenge {
	margin-bottom: $size-gutter--half;
}
