@use '@surveyplanet/styles' as *;

.sp-banner {
	position: relative;
	z-index: 1000;
	min-width: $size--256;
	margin: 0;
	padding: $size-space--s;
	border-radius: $size-radius--large;
	box-shadow: 0px 0px 25px 0px rgba(235, 231, 220, 0.8);
	font: $font--default;
	color: $color--beige-darkest;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;

	background-color: $color--white;
	border: 1px solid transparent;

	&.sp-banner--info {
		border-color: $color--blue;
		.sp-banner--icon--wrapper {
			background: $color--gradient--blue;
		}
	}

	&.sp-banner--warning {
		border-color: $color--yellow;
		.sp-banner--icon--wrapper {
			background: $color--gradient--yellow;
		}
	}

	&.sp-banner--error {
		border-color: $color--pink;
		.sp-banner--icon--wrapper {
			background: $color--gradient--pink;
		}
	}

	&.sp-banner--success {
		border-color: $color--green;
		.sp-banner--icon--wrapper {
			background: $color--gradient--green;
		}
	}
}

.sp-banner--icon {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: $size--64;
	padding: 0 $size-space--s 0 0;
}
.sp-banner--icon--wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: $size--16;
	width: $size--32;
	height: $size--32;
}

.sp-banner--content {
	flex-grow: 1;
	// padding: 0 $size-space--s;
	color: $color--dark;
	a {
		color: $color--dark;
	}
	.sp-banner--header--title {
		margin: 0;
		padding: 0;
	}
}
