@use '@surveyplanet/styles' as *;

.sp-chips {
	display: flex;
	flex-wrap: wrap;
	gap: $size-gutter--half;
	list-style: none;
	font: $font--default;
}

.sp-chips--chip {
	cursor: default;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	gap: $size-gutter--quarter;
	padding: 0 $size-gutter--half;
	height: $size--32;
	border: 1px solid $color--beige-darker;
	border-radius: $size--32;
	background: $color--white;
	span {
		padding: 0;
		line-height: auto;
	}
}

.sp-chips--selectable {
	.sp-chips--chip {
		cursor: pointer;
	}

	.sp-chips--chip--selected {
		background: $color--green-gradient;
	}
}

button.sp-chips--chip--close-btn {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: $size--12;
	height: $size--12;
	border: none;
	background-color: transparent;
	svg {
		transform: translate(-4px, -4px); // remove the space around icon
	}
}
