@use '@surveyplanet/styles' as *;

.sp-dropdown {
	font: $font--default;
	font-size: $font-size--default;
	&.sp-dropdown--open {
		.sp-dropdown--toggle-btn svg {
			rotate: (180deg);
		}
	}

	&.sp-dropdown--medium {
		font-size: $font-size--14;
		input {
			height: $size--48;
		}
	}
	&.sp-dropdown--large {
		font-size: $font-size--16;
		input {
			height: $size--52;
		}
	}
	.sp-menu {
		max-width: 100%;
		// width: 100%;
	}

	label {
		color: $color--dark;
		display: block;
		padding: 0 0 $size--12 $size--4;
		font: inherit;
		.sp-dropdown--label--required {
			color: $color--pink;
			font-size: smaller;
		}
	}

	input {
		cursor: pointer;
		width: 100%;
		height: $size--40;
		min-width: $size--256;
		font: inherit;
		background-color: $color--white;
		border: 1px solid $color--beige-darker;
		border-radius: $size-radius--default;
		margin: 0;
		padding: 0 0 0 $size--16;
		text-align: left;

		&::placeholder {
			color: $color--beige-darkest;
		}

		@include set-focus {
			border: 1px solid $color--beige-darker;
			box-shadow: 0px 0px 0px 2px $color--beige-dark;
		}

		&:active {
			box-shadow: 0px 0px 0px 1px $color--white,
				0px 0px 0px 2px $color--beige-darkest;
		}

		// disabled controls can not receive focus, are not submitted with the
		// form and generally do not function as controls until they are enabled
		&:disabled {
			cursor: not-allowed;
			color: $color--beige-darkest;
			border-color: $color--beige-darker;
			background-color: $color--beige-dark;
			box-shadow: none;
			@include set-focus {
				box-shadow: none;
			}
			&:active {
				box-shadow: none;
			}
		}
	}
}

.sp-dropdown--input-wrapper {
	position: relative;
}

.sp-dropdown--toggle-btn,
.sp-dropdown--close-btn {
	cursor: pointer;
	position: absolute;
	top: 1px;
	right: 0;
	display: flex; // inline-flex
	justify-content: center;
	align-items: center;
	width: $size--40;
	height: calc(100% - 2px);
	background-color: transparent;
	border: none;
	border-radius: 0 $size-radius--small $size-radius--small 0;
	margin: 0;
	padding: 0;
	outline: none;
	&:disabled {
		path {
			stroke: $color--beige-darkest;
		}
	}
}

.sp-dropdown--close-btn {
	z-index: 1;
	&:hover {
		background-color: $color--beige-darker;
		.sp-icon path {
			stroke: $color--white;
		}
	}
}

// dark mode
// :global(html.dark) {
// 	label {
// 		color: $color--white;
// 	}
// 	.sp-dropdown--close-btn {
// 		:global(.sp-icon path) {
// 			stroke: $color--white;
// 		}

// 		&:hover {
// 			background-color: $color--dark;
// 			:global(.sp-icon path) {
// 				stroke: $color--white;
// 			}
// 		}
// 	}
// }
