@use '@surveyplanet/styles' as *;

.sp-footer {
	font: $font--small;
	color: $color--beige-darkest;

	ul {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}

	.sp-footer--item {
		text-decoration: none;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		color: inherit;
	}

	a:hover {
		text-decoration: underline;
	}

	// add separator dots
	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0;
	}

	li {
		margin: 0;
		padding: 0;
		& + li {
			&:before {
				content: '\002022';
				margin: 0 $size-gutter--quarter;
			}
		}
	}
}
