@keyframes loader-turn {
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(720deg);
	}
}

.sp-loader {
	animation: loader-turn 1s linear infinite;
	padding: 0;
	margin: 0;
}

.sp-loader--track {
	animation-name: loader-stroke;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	fill: none;
	stroke-linecap: round;
}
