@use '@surveyplanet/styles' as *;
.sp-nav {
	position: relative;
	display: flex;
	max-width: fit-content;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: $size--32;
	overflow: visible;
	&.sp-nav--vertical {
		flex-direction: column;
	}

	a,
	button {
		cursor: pointer;
		background-color: transparent;
		width: $size--16;
		height: $size--16;
		margin: 0;
		padding: 0;
		border: none;
		&:hover {
			// background-color: $color--pink;
			path {
				stroke: $color--beige-darkest;
			}
		}
	}
}
.sp-nav--menu {
	min-width: px-to-rem(150);
	position: absolute;
}
