@use '@surveyplanet/styles' as *;

$indicator--speed: 0.5s;

.sp-tab-bar {
	position: relative;
	display: inline-block;
	height: $size--40;
	width: auto;
	padding: $size--4;
	font: $font--default;
	font-family: $font-family--sans-medium;
	font-size: $size--14;
	background-color: $color--beige-darker;
	border-radius: $size--40;
	clip-path: inset(0px 0px);

	&.sp-tab-bar--block {
		display: block;

		ul {
			justify-content: space-between;
		}
	}

	ul {
		// position: relative;
		display: inline-flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: stretch;
		list-style: none;
		position: relative;
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		border-radius: $size--20;
	}

	li {
		margin: 0;
		padding: 0;
	}

	button {
		display: flex; // inline-flex
		justify-content: center;
		align-items: center;
		gap: $size-gutter--quarter;
		cursor: pointer;
		border-radius: $size--36;
		margin: 0;
		padding: 0 $size-gutter;
		border: none;
		height: 100%;
		font: inherit;
		color: $color--black;
		background: transparent;

		&:disabled {
			// pointer-events: none;
			color: $color--beige-darkest;

			svg path {
				stroke: $color--beige-darkest;
			}
		}

		transition: color 0.2s ease-out;

		svg path {
			transition: stroke 0.2s ease-out;
		}

		&:hover {
			color: $color--beige-darkest;

			svg path {
				stroke: $color--beige-darkest;
			}

			&.sp-tab-bar--item--active {
				color: $color--black;

				svg path {
					stroke: $color--black;
				}
			}
		}
	}

	// only animate indicator after tab bar is mounted
	// &.sp-tab-bar--mounted {
	// 	.sp-tab-bar--active-indicator {
	// 		transition:
	// 			left 0.2s ease-out,
	// 			width 0.2s ease-out;
	// 	}
	// }
}

.sp-tab-bar--active-indicator {
	display: block;
	position: absolute;
	z-index: -1;
	// left: 50%;
	height: px-to-rem(32);
	width: 0; // start off with no width
	border-radius: $size--36;
	background-color: $color--white;
	transform-origin: center;
	transition-property: none; // transition is set inline after mounting
	transition-duration: 250ms, 250ms;
	transition-timing-function: ease-out, ease-out;
	// transition: left 0.2s ease-out, width 0.2s ease-out;
}