@use '@surveyplanet/styles' as *;

.sp-text-input {
	font: $font--default;
	position: relative;

	&.sp-text-input--medium {
		font-size: $font-size--14;

		input {
			height: $size--48;
		}
	}

	&.sp-text-input--large {
		font-size: $font-size--16;

		input {
			height: $size--52;
		}
	}

	&.validation-error {
		input,
		textarea {
			border-color: $color--pink;
		}
	}

	& > input[type='search'] {
		padding-left: $size--32;

		& ~ .sp-text-input--search-icon {
			// background-color: red;
			display: block;
			position: absolute;
			top: 50%;
			left: $size--10;
			transform: translateY(-50%);
			width: $size--16;
			height: $size--16;
		}
	}

	.validation-error-message {
		font-size: $font-size--10;
		padding: $size--6 0 0 $size--4;
		color: $color--pink;

		em {
			font-style: normal;
		}
	}
}

.sp-text-input--label {
	color: $color--dark;
	display: block;
	font: inherit;
	padding: 0 0 $size--12 $size--4;

	.sp-text-input--label--required {
		color: $color--pink;
		font-size: smaller;
	}
}

.sp-text-input--input,
.sp-text-input--textarea {
	font: inherit;
	width: 100%;
	height: $size--40;
	// min-width: $size--256;
	background-color: $color--white;
	border: 1px solid $color--beige-darker;
	border-radius: $size-radius--default;
	padding: $size--12 $size--16;

	@include set-focus {
		border: 1px solid $color--beige-darker;
		box-shadow: 0px 0px 0px 2px $color--beige-dark;
	}

	&:active {
		box-shadow:
			0px 0px 0px 1px $color--white,
			0px 0px 0px 2px $color--beige-darkest;
	}

	// read-only controls can still function and are still focusable
	&:read-only {
		@include set-focus {
			box-shadow: none;
		}

		&:active {
			box-shadow: none;
		}
	}

	// disabled controls can not receive focus and are not submitted with the
	// form and generally do not function as controls until they are enabled
	&:disabled {
		cursor: not-allowed;
		color: $color--beige-darkest;
		border-color: $color--beige-darker;
		background-color: $color--beige-dark;
		box-shadow: none;

		@include set-focus {
			box-shadow: none;
		}

		&:active {
			box-shadow: none;
		}
	}

	&::placeholder {
		color: $color--beige-darkest;
	}
}

.sp-text-input--textarea {
	min-height: $size--80;
}
