@use '@surveyplanet/styles' as *;

@include load-suisse-font(); /* Suisse Intl */
@include load-suisse-font(intl, bold); /* Suisse Intl (bold) */
@include load-suisse-font(mono); /* Suisse Mono */
@include load-suisse-font(works); /* Suisse Works (serif) */

#example {
	padding: 50px 0 50px 20px;
	margin: 50px 0;
	// background-color: rgb(70, 76, 87);
	background-color: $color--light;
	// border: 1px solid $color--light;
	border-radius: 3px;
	box-shadow: 0 0 10 rgba(0, 0, 0);
}
