@use '@surveyplanet/styles/index.scss' as *;

// @font-face {
// 	font-family: 'Suisse Mono';
// 	src: url('@surveyplanet/styles/src/fonts/suisse/mono/regular.woff2')
// 		format('woff2');
// }

@include load-suisse-font(); /* Suisse Intl */
@include load-suisse-font(intl, bold); /* Suisse Intl (bold) */
@include load-suisse-font(works); /* Suisse Works (serif) */
@include load-suisse-font(mono); /* Suisse Mono */

:root {
	font-family: 'Suisse Intl', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font: $font--default;
}

html {
	/* 62.5% of 16px browser font size is 10px */
}

h1 {
	font-family: 'Suisse Intl', serif !important;
}

#example {
	padding: 50px 0 50px 20px;
	margin: 50px 0;
	// background-color: rgb(70, 76, 87);
	background-color: $color--light;
	border-radius: 3px;
	box-shadow: 0 0 10 rgba(0, 0, 0);
}

.docblock-typeset {
	background-color: white;
}
