@use '@surveyplanet/styles' as *;

@include load-suisse-font(); /* Suisse Intl */
@include load-suisse-font(screen, bold); /* Suisse Intl (bold) */
@include load-suisse-font(mono, regular); /* Suisse Mono */
@include load-suisse-font(works, regular); /* Suisse Works (serif) */

#example {
	padding: 50px 0 50px 20px;
	margin: 50px 0;
	background-color: $color--light-purple-light;
	border-radius: $size-radius--default;
	border: 1px solid $color--purple-light;
	box-shadow: 0 0 10 rgba(255, 255, 255);
}
